<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <title>Current ChatRoom</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="room.component.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="http://localhost:8080/socket.io/socket.io.js"></script>
    <script>
        $(function() {
            const host = '{{config.host}}';
            var messages = io.connect(host + '/messages');
            var room_number = '{{room_number}}';
            var username = '{{user.fullName}}';
            var profilePic = '{{user.profilePic}}';

            //console.log('room number of event ' + room_number);

            messages.on('connect', function() {
                console.log('connection established!!');
                messages.emit('joinroom', {
                    username: username,
                    profilePic: profilePic,
                    room_number: room_number
                })
            })
        })
    </script>
</head>

<body>
    <div class="container">
        <!-- <div class="card" style="width: 90%;"> -->
        <!-- <div class="card-body"> -->
        <h5 class="card-title">
            <b>chatRoom <i class="far fa-frown"></i>
                        </b>
        </h5>
        <hr>

        <div class="imgcontainer">
            <img src="{{user.profilePic}}" class="imgset2">
            <h5 class="username"> <b>{{user.fullName}}  | <a id="logout" href="/logout">Logout  </a><a id="morechatrooms" href="/chatrooms"> More Chatrooms</a id=></b></h5>
        </div>

        <div class="fixedchatroom">
            <b>Current ChatRoom </b>
            <h4><b>{{room_name}}</b></h4>
        </div>

        <div class="chatside">
            <ul class="messages">
                <li>
                    <div class="mgsbox">
                        <div class="pic">
                            <img src="../img/nahid.jpg" class="imgset">
                        </div>

                        <div class="msg">
                            <p>Hi there is first sms asfdsjaf asfsalfjosadf sadfjosadfjsafdosa dfosadfjosdafjsadfosad fsdlajfosadjf sadfosajfosajf sadfojsaofjosafd</p>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="mgsbox">
                        <div class="pic">
                            <img src="../img/nahid.jpg" class="imgset">
                        </div>

                        <div class="msg">
                            <p>Hi there is first sms asfdsjaf asfsalfjosadf sadfjosadfjsafdosa dfosadfjosdafjsadfosad fsdlajfosadjf sadfosajfosajf sadfojsaofjosafd</p>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="mgsbox">
                        <div class="pic">
                            <img src="../img/nahid.jpg" class="imgset">
                        </div>

                        <div class="msg">
                            <p>Hi there It is a good platform to learn programming. It is an educational website. Prepare for the Recruitment drive of product based companies like Microsoft, Amazon, Adobe etc with a free online placement preparation course.
                                The course focuses on various MCQ's & Coding question likely to be asked in the interviews & make your upcoming placement season efficient and successful. Also, any geeks can help other geeks by writing articles on the
                                GeeksforGeeks, publishing articles follow few steps that are Articles that need little modification/improvement from reviewers are published first. To quickly get your articles reviewed, please refer existing articles,
                                their formatting style, coding style, and try to make yis first sms asfdsjaf asfsalfjosadf sadfjosadfjsafdosa dfosadfjosdafjsadfosad fsdlajfosadjf sadfosajfosajf sadfojsaofjosafd</p>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="mgsbox">
                        <div class="pic">
                            <img src="../img/nahid.jpg" class="imgset">
                        </div>

                        <div class="msg">
                            <p>Hi </p>
                        </div>
                    </div>
                </li>

            </ul>

        </div>

        <div class="useractiveside">
            <b style="margin-right: 10px;">Active users</b>
            <ul class="users">
                <!-- <li>
                    <div class="activeuserimg">
                        <img src="../img/nahid.jpg" class="userimgset">
                    </div>
                    <div class="activeusername">
                        <h5 class="usernamesort">Nahid Hasan milon</h5>
                    </div>

                </li> -->

                <li>
                    <div class="row">
                        <div class="col-2">
                            <img src="../img/nahid.jpg" class="userimgset">
                        </div>
                        <div id="activeusername2" class="col-8">
                            <h5>Nahid Hasan milon</h5>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="row">
                        <div class="col-2">
                            <img src="../img/nahid.jpg" class="userimgset">
                        </div>
                        <div id="activeusername2" class="col-8">
                            <h5>Nahid Hasan milon</h5>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="row">
                        <div class="col-2">
                            <img src="../img/nahid.jpg" class="userimgset">
                        </div>
                        <div id="activeusername2" class="col-8">
                            <h5>Nahid Hasan milon</h5>
                        </div>
                    </div>
                </li>

            </ul>

        </div>

        <div class="writemsgfield">
            <input autocomplete="off" class="form-control" type="text" placeholder="Type your message and press enter">
        </div>




        <!-- </div> -->
        <!-- </div> -->
    </div>
</body>

</html>