<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <title>Current ChatRoom</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="room.component.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="http://localhost:8080/socket.io/socket.io.js"></script>
    <script>
        $(function() {
            const host = '{{config.host}}';
            var messages = io.connect(host + '/messages');
            var room_number = '{{room_number}}';
            var username = '{{user.fullName}}';
            var profilePic = '{{user.profilePic}}';

            //console.log('room number of event ' + room_number);

            messages.on('connect', function() {
                console.log('connection established!!');

                messages.emit('joinroom', {
                    username: username,
                    profilePic: profilePic,
                    room_number: room_number
                })
            });

            $(document).on('keyup', '#newMessage', function(e) {
                if (e.which === 13 && $(this).val() != '') {
                    //console.log('enter pressed!');
                    messages.emit('newMessage', {
                        room_number: room_number,
                        username: username,
                        profilePic: profilePic,
                        messages: $(this).val()
                    });

                    updateMessage(profilePic, $(this).val());
                    $(this).val('');
                }
            });

            messages.on('messageFeed', function(data) {
                var msgs = JSON.parse(data);

                //$('.messages').html('');

                // console.log("message data " + msgs);
                // for (var i in msgs) {
                //     updateMessage(msgs[i].profilePic, msgs[i].messages);
                // }

                updateMessage(msgs.profilePic, msgs.messages);

            })

            function updateMessage(userPic, message) {
                var str = "";
                // str += '<li>';
                // str += '<div class="mgsbox">';
                // str += '<div class="pic">';
                // str += '<img src="' + userPic + '" class="imgset">';
                // str += '</div>';

                // str += '<div class="msg">';
                // str += '<p>' + message + '</p>';
                // str += '</div>';
                // str += '</div>';
                // str += '</li>';

                str += '<li>';
                str += '<div class="row">';
                str += '<div class="col-2">';
                str += '<img src="' + userPic + '" class="userimgset">';
                str += '</div>';
                str += '<div id="messageBox" class="col-8">';
                str += '<p>' + message + '</p>';
                str += '</div>';
                str += '</div>';
                str += '</li>';

                $(str).hide().prependTo('.messages').slideDown(100);
            }

            messages.on('updateUserLists', function(data) {

                var userList = JSON.parse(data);

                // console.log('nahid hasdan');

                // console.log('user list is ' + userList);

                $('.users').html('');

                for (var i in userList) {
                    var str = "";

                    str += '<li>';
                    str += '<div class="row">';
                    str += '<div class="col-2">';
                    str += '<img src="' + userList[i].profilePic + '" class="userimgset">';
                    str += '</div>';
                    str += '<div id="activeusername2" class="col-8">';
                    str += '<h5>' + userList[i].username + '</h5>';
                    str += '</div>';
                    str += '</div>';
                    str += '</li>';

                    $(str).prependTo('.users');
                }
            })

            setInterval(function() {
                messages.emit('updateList', {
                    room_number: room_number,
                    username: username,
                    profilePic: profilePic
                });
            }, 5 * 1000);

        });
    </script>
</head>

<body>
    <div class="container">
        <!-- <div class="card" style="width: 90%;"> -->
        <!-- <div class="card-body"> -->
        <h5 class="card-title">
            <b>chatRoom <i class="far fa-frown"></i>
                        </b>
        </h5>
        <hr>

        <div class="imgcontainer">
            <img src="{{user.profilePic}}" class="imgset2">
            <h5 class="username"> <b>{{user.fullName}}  | <a id="logout" href="/logout">Logout  </a><a id="morechatrooms" href="/chatrooms"> More Chatrooms</a id=></b></h5>
        </div>

        <div class="fixedchatroom">
            <b>Current ChatRoom </b>
            <h4><b>{{room_name}}</b></h4>
        </div>

        <div class="chatside">
            <ul class="messages">
                <!-- <li>
                    <div class="mgsbox">
                        <div class="pic">
                            <img src="../img/nahid.jpg" class="imgset">
                        </div>

                        <div class="msg">
                            <p>Hi there is first sms asfdsjaf asfsalfjosadf sadfjosadfjsafdosa dfosadfjosdafjsadfosad fsdlajfosadjf sadfosajfosajf sadfojsaofjosafd</p>
                        </div>
                    </div>
                </li> -->


            </ul>

        </div>

        <div class="useractiveside">
            <b style="margin-right: 10px;">Active users</b>
            <ul class="users">
                <!-- <li>
                    <div class="activeuserimg">
                        <img src="../img/nahid.jpg" class="userimgset">
                    </div>
                    <div class="activeusername">
                        <h5 class="usernamesort">Nahid Hasan milon</h5>
                    </div>

                </li> -->


            </ul>

        </div>

        <div class="writemsgfield">
            <input id="newMessage" autocomplete="off" class="form-control" type="text" placeholder="Type your message and press enter">
        </div>




        <!-- </div> -->
        <!-- </div> -->
    </div>
</body>

</html>