.card {
    margin: 20%;
}

.card-title {
    text-align: center;
}

.imgcontainer {
    height: 50px;
}

.imgset {
    height: 60px;
    width: 60px;
}

.username {
    float: right;
}

#createroom {
    margin-top: 20px;
    float: left;
}

#inputroom {
    margin-top: 20px;
}

.listroom {
    margin-top: 20px;
}

ul {
    list-style-type: none;
}

li {
    width: 90%;
    height: 25px;
    background: whitesmoke;
    display: inline-block;
    padding: 5px;
}

li:hover {
    background-color: rgb(190, 204, 204);
}

.roomnameside {
    height: 300px;
    width: 60%;
    border: 1px solid rgb(238, 222, 222);
    float: left;
    margin: 5px;
    overflow-x: hidden;
    overflow-x: auto;
    text-align: justify;
}