<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="chatroom.component.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="container">
        <div class="card" style="width: 65%;">
            <div class="card-body">
                <h5 class="card-title">
                    <b>chatRoom <i class="far fa-frown"></i>
                        </b>
                </h5>
                <hr>

                <!-- <h1>{{user.fullName}}</h1> -->

                <div class="imgcontainer">
                    <img src="{{user.profilePic}}" class="imgset">
                    <h3 class="username"> <b>{{user.fullName}}  | <a href="/logout">Logout</a></b></h3>
                </div>
                <div class="row">
                    <div class="col-8">
                        <input id="inputroom" placeholder="Enter Room Name" class="form-control" type="text">
                    </div>
                    <div class="col-4">
                        <button id="createroom" class="btn btn-warning">Create Room</button>
                    </div>
                </div>

                <div class="listroom">
                    <h5><b>Chat Room List:</b></h5>
                    <ul>
                        <a href="#">
                            <li>Node js</li>
                        </a>
                        <a href="#">
                            <li>Angular js</li>
                        </a>
                        <a href="#">
                            <li>vue js</li>
                        </a>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</body>

</html>