<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="index.component.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="container">
        <div class="card" style="width: 40%;">
            <div class="card-body">
                <h5 class="card-title">
                    <b>chatRoom <i class="far fa-frown"></i>
                        </b>
                </h5>
                <hr>

                <div class="facebook">
                    <a href="/auth/facebook">
                        <i class="fa fa-facebook"></i> Login with Facebook
                    </a>
                </div>

            </div>
        </div>
    </div>
</body>

</html>